{% extends 'main.html'%} {% block content %}
<div class="grid-container-1-2-1">
  {% if member.expired %}
  <div class="left-column" style="background-color: red"></div>
  {% else %}
  <div class="left-column" style="background-color: green"></div>
  {% endif %}
  <div class="center-column">
    <div class="member-card">
      <div class="rounded-circle"></div>
      <h1>{{ member }}</h1>
      <hr />
      <p><strong>Jméno:</strong> {{ member.first_name }}</p>
      <p><strong>Příjmení:</strong> {{ member.last_name }}</p>
      <hr />
      <p><strong>Typ členství:</strong> {{ member.membership_type }}</p>
      <p><strong>Expirované:</strong> {{ member.expired }}</p>
      <hr />
      <p><strong>Datum zahájení:</strong> {{ member.starting_date|date:"Y-m-d" }}</p>
      <p><strong>Datum vypršení:</strong> {{ member.expiration_date|date:"Y-m-d" }}</p>

      <a href="{% url 'member_edit' member.id %}" class="btn">Upravit člena</a>
      <a href="{% url 'member_list' %}" class="btn">Zpět na seznam členů</a>
    </div>
  </div>
  {% if member.expired %}
  <div class="right-column" style="background-color: red"></div>
  {% else %}
  <div class="right-column" style="background-color: green"></div>
  {% endif %}
</div>

{% endblock %}
