<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Membership</th>
      <th>Duration</th>
      <th>Starting Date</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %} {% if member.membership_type == "časová"%}
    <tr class="table_time_type">
      {% if member.expired %}
      <td><a class="font-expired" href="{% url 'member_card' member.id %}">{{member}}</a></td>
      {% else %}
      <td><a class="font-notexpired" href="{% url 'member_card' member.id %}">{{member}}</a></td>
      {%endif%}
      <td>{{member.membership_type}}</td>
      <td>{{member.membership_duration}}</td>
      <td>{{member.starting_date|date:"Y-m-d"}}</td>
      <td>{{member.expiration_date|date:"Y-m-d"}}</td>
    </tr>
    {% else %}
    <tr class="table_entry_type">
      <td><a class="font-notexpired" href="{% url 'member_card' member.id %}">{{member}}</a></td>
      <td>{{member.membership_type}}</td>
      <td>{{member.membership_duration}}</td>
      <td>{{member.join_date|date:"Y-m-d"}}</td>
      <td>{{member.expiration_date|date:"Y-m-d"}}</td>
    </tr>
    {% endif %} {% empty %}
    <p>No members found.</p>
    {% endfor %}
  </tbody>
</table>
