<div class="navbar">
  <ul>
    <li>
      <a href="{% url 'checkin_module' %}">Checkin</a>
    </li>
    <li>
      <a href="{% url 'member_list' %}">Members</a>
    </li>
    <li>
      <a href="{% url 'checkin_report' %}">Reports</a>
    </li>
    <li>
      {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post" class="navbar-form">
        {% csrf_token %}
        <button type="submit" class="navbar-button">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </li>
  </ul>
</div>
