{% extends 'main.html' %} {% load static %} {% block content %}
<div class="grid-container-1-2-1">
  <div class="left-column"></div>
  <div class="center-column">
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="counter-container">
      <div class="counter">
        <div class="counter-number">
          <h3>Morning</h3>
          <h1>{{am_checkins}}</h1>
        </div>
        <form method="POST" action="{% url 'client_checkin' %}">
          {% csrf_token %}
          <button type="submit" class="checkin-button">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
          </button>
        </form>
        <div class="counter-number">
          <h3>Afternoon</h3>
          <h1>{{ pm_checkins }}</h1>
        </div>
      </div>
      <div class="daily-total">
        <h2>Total Today: {{ total_checkins }}</h2>
      </div>
    </div>
  </div>
  <div class="right-column"></div>
</div>
{% endblock %}
