{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>PS Fitness Gym System</title>
  </head>
  <body>
    <!--  Main wrapper -->
    <div class="page-wrapper">
      <header>{% include 'navbar.html' %}</header>

      <!--  Main obsah -->
      <main class="main-content">{% block content %}{% endblock %}</main>

      {% include 'footer.html' %}
    </div>

    <!--  JS for dropdown -->
    <script>
      function toggleDropdown(event) {
        event.preventDefault();
        const menu = document.getElementById("userDropdown");
        menu.classList.toggle("show");
      }

      document.addEventListener("click", function (event) {
        const dropdown = document.getElementById("userDropdown");
        const toggle = event.target.closest(".dropdown-toggle");
        const insideDropdown = event.target.closest("#userDropdown");

        if (!toggle && !insideDropdown && dropdown?.classList.contains("show")) {
          dropdown.classList.remove("show");
        }
      });
    </script>
  </body>
</html>
